:root {
  --backgroundColor: rgb(31, 31, 31);
  --color: #ffffff;
  --green: rgb(55, 166, 3);
  --shadow: rgba(0, 0, 0, 0.30);
  --smoothEdge: rgba(255, 255, 255, .6);
  --waveUserPhoto1: rgba(255, 255, 255, .550);
  --waveUserPhoto2: rgba(255, 255, 255, .350);
  --waveUserPhoto3: rgba(255, 255, 255, .150);
  --waveUserPhoto4: rgba(255, 255, 255, .050);
  --dangerColor: rgb(189, 8, 8);
  --successColor: rgb(64, 189, 6);
  --extraColor: #00F0FF;
}
:root h4, :root h5 {
  font-weight: 100;
}

:root.lightTheme {
  --backgroundColor: rgb(235, 231, 231);
  --color: rgb(0, 0, 0);
  --shadow: rgba(255, 255, 255, 0.702);
  --smoothEdge: rgba(0, 0, 0, .6);
  --waveUserPhoto1: rgba(0, 0, 0, .550);
  --waveUserPhoto2: rgba(0, 0, 0, .350);
  --waveUserPhoto3: rgba(0, 0, 0, .150);
  --waveUserPhoto4: rgba(0, 0, 0, .050);
}
:root.lightTheme h4, :root.lightTheme h5 {
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/imports/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter bold";
  src: url(../assets/imports/Inter/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter light";
  src: url(../assets/imports/Inter/static/Inter-Light.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/imports/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins bold";
  src: url(../assets/imports/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins light";
  src: url(../assets/imports/Poppins/Poppins-Light.ttf);
}
@-webkit-keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 270px;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 270px;
  }
}
@-webkit-keyframes skeletonLoading {
  from {
    background-image: linear-gradient(90deg, #999 15%, #ccc 85%);
  }
  to {
    background-image: linear-gradient(90deg, #999 100%, #ccc 0%);
  }
}
@keyframes skeletonLoading {
  from {
    background-image: linear-gradient(90deg, #999 15%, #ccc 85%);
  }
  to {
    background-image: linear-gradient(90deg, #999 100%, #ccc 0%);
  }
}
@-webkit-keyframes transformeX {
  to {
    transform: translateX(0);
  }
}
@keyframes transformeX {
  to {
    transform: translateX(0);
  }
}
@media (min-width: 1001px) {
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 690px;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 690px;
    }
  }
}
#preloader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: whitesmoke;
  font-size: 2rem;
  overflow: hidden;
  z-index: 100000;
  font-style: italic;
}
#preloader h1 {
  background: linear-gradient(180deg, #00D76E 0%, #00D76E 0.01%, #1ABD00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  border-right: 2px solid var(--color);
  white-space: nowrap;
  overflow: hidden;
  font-family: Times, serif;
  -webkit-animation: blinkCursor 500ms steps(40) infinite normal forwards, typing 2s steps(40) 10ms normal;
          animation: blinkCursor 500ms steps(40) infinite normal forwards, typing 2s steps(40) 10ms normal;
}

.skeleton {
  background-color: #b3b3b3 !important;
  color: transparent !important;
  -webkit-animation: skeletonLoading 1.3s normal 1s infinite !important;
          animation: skeletonLoading 1.3s normal 1s infinite !important;
  border-radius: 1rem;
}
.skeleton > * {
  z-index: -100000;
  opacity: 0;
}

@media (min-width: 1001px) {
  #preloader {
    font-size: 5rem;
  }
  #preloader h1 {
    padding-right: 1rem;
    -webkit-animation: blinkCursor 500ms steps(40) infinite normal forwards, typing 2s steps(40) 10ms normal;
            animation: blinkCursor 500ms steps(40) infinite normal forwards, typing 2s steps(40) 10ms normal;
  }
}
:root {
  --backgroundColor: rgb(31, 31, 31);
  --color: #ffffff;
  --green: rgb(55, 166, 3);
  --shadow: rgba(0, 0, 0, 0.30);
  --smoothEdge: rgba(255, 255, 255, .6);
  --waveUserPhoto1: rgba(255, 255, 255, .550);
  --waveUserPhoto2: rgba(255, 255, 255, .350);
  --waveUserPhoto3: rgba(255, 255, 255, .150);
  --waveUserPhoto4: rgba(255, 255, 255, .050);
  --dangerColor: rgb(189, 8, 8);
  --successColor: rgb(64, 189, 6);
  --extraColor: #00F0FF;
}
:root h4, :root h5 {
  font-weight: 100;
}

:root.lightTheme {
  --backgroundColor: rgb(235, 231, 231);
  --color: rgb(0, 0, 0);
  --shadow: rgba(255, 255, 255, 0.702);
  --smoothEdge: rgba(0, 0, 0, .6);
  --waveUserPhoto1: rgba(0, 0, 0, .550);
  --waveUserPhoto2: rgba(0, 0, 0, .350);
  --waveUserPhoto3: rgba(0, 0, 0, .150);
  --waveUserPhoto4: rgba(0, 0, 0, .050);
}
:root.lightTheme h4, :root.lightTheme h5 {
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/imports/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter bold";
  src: url(../assets/imports/Inter/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter light";
  src: url(../assets/imports/Inter/static/Inter-Light.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/imports/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins bold";
  src: url(../assets/imports/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins light";
  src: url(../assets/imports/Poppins/Poppins-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

body::-webkit-scrollbar, body > *::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track, body > *::-webkit-scrollbar-track {
  background: none;
}
body::-webkit-scrollbar-thumb, body > *::-webkit-scrollbar-thumb {
  background-color: var(--waveUserPhoto2);
  border-radius: 20px;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color);
}

input, button {
  background: none;
  border: none;
}

textarea {
  resize: none;
  background: none;
  border: none;
  width: 100%;
  padding: 1.5rem;
  border: 1px solid;
  border-color: var(--color);
  border-radius: 0.5rem;
  color: var(--color);
}

svg.feather {
  stroke-width: 2.5px;
}

:root {
  --backgroundColor: rgb(31, 31, 31);
  --color: #ffffff;
  --green: rgb(55, 166, 3);
  --shadow: rgba(0, 0, 0, 0.30);
  --smoothEdge: rgba(255, 255, 255, .6);
  --waveUserPhoto1: rgba(255, 255, 255, .550);
  --waveUserPhoto2: rgba(255, 255, 255, .350);
  --waveUserPhoto3: rgba(255, 255, 255, .150);
  --waveUserPhoto4: rgba(255, 255, 255, .050);
  --dangerColor: rgb(189, 8, 8);
  --successColor: rgb(64, 189, 6);
  --extraColor: #00F0FF;
}
:root h4, :root h5 {
  font-weight: 100;
}

:root.lightTheme {
  --backgroundColor: rgb(235, 231, 231);
  --color: rgb(0, 0, 0);
  --shadow: rgba(255, 255, 255, 0.702);
  --smoothEdge: rgba(0, 0, 0, .6);
  --waveUserPhoto1: rgba(0, 0, 0, .550);
  --waveUserPhoto2: rgba(0, 0, 0, .350);
  --waveUserPhoto3: rgba(0, 0, 0, .150);
  --waveUserPhoto4: rgba(0, 0, 0, .050);
}
:root.lightTheme h4, :root.lightTheme h5 {
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/imports/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter bold";
  src: url(../assets/imports/Inter/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter light";
  src: url(../assets/imports/Inter/static/Inter-Light.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/imports/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins bold";
  src: url(../assets/imports/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins light";
  src: url(../assets/imports/Poppins/Poppins-Light.ttf);
}
:root {
  --backgroundColor: rgb(31, 31, 31);
  --color: #ffffff;
  --green: rgb(55, 166, 3);
  --shadow: rgba(0, 0, 0, 0.30);
  --smoothEdge: rgba(255, 255, 255, .6);
  --waveUserPhoto1: rgba(255, 255, 255, .550);
  --waveUserPhoto2: rgba(255, 255, 255, .350);
  --waveUserPhoto3: rgba(255, 255, 255, .150);
  --waveUserPhoto4: rgba(255, 255, 255, .050);
  --dangerColor: rgb(189, 8, 8);
  --successColor: rgb(64, 189, 6);
  --extraColor: #00F0FF;
}
:root h4, :root h5 {
  font-weight: 100;
}

:root.lightTheme {
  --backgroundColor: rgb(235, 231, 231);
  --color: rgb(0, 0, 0);
  --shadow: rgba(255, 255, 255, 0.702);
  --smoothEdge: rgba(0, 0, 0, .6);
  --waveUserPhoto1: rgba(0, 0, 0, .550);
  --waveUserPhoto2: rgba(0, 0, 0, .350);
  --waveUserPhoto3: rgba(0, 0, 0, .150);
  --waveUserPhoto4: rgba(0, 0, 0, .050);
}
:root.lightTheme h4, :root.lightTheme h5 {
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/imports/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter bold";
  src: url(../assets/imports/Inter/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter light";
  src: url(../assets/imports/Inter/static/Inter-Light.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/imports/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins bold";
  src: url(../assets/imports/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins light";
  src: url(../assets/imports/Poppins/Poppins-Light.ttf);
}
@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 270px;
  }
}
@keyframes skeletonLoading {
  from {
    background-image: linear-gradient(90deg, #999 15%, #ccc 85%);
  }
  to {
    background-image: linear-gradient(90deg, #999 100%, #ccc 0%);
  }
}
@keyframes transformeX {
  to {
    transform: translateX(0);
  }
}
@media (min-width: 1001px) {
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 690px;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 690px;
    }
  }
}
html {
  overflow: hidden;
}

label span {
  color: var(--extraColor);
}

*[aria-bot] {
  cursor: pointer;
}

body {
  background-color: var(--backgroundColor);
  color: var(--color);
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr auto;
  padding: 0 10%;
  gap: 0 5%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
  width: 100%;
  padding: 2rem 0;
  grid-area: 1/1/2/7;
}
header #topHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-wrap: nowrap;
}

#user {
  font-style: italic;
  font-family: "Poppins", sans-serif;
}
#user span {
  background: linear-gradient(180deg, #00D76E 0%, #00D76E 0.01%, #1ABD00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
  gap: 3rem;
  flex-wrap: nowrap;
  grid-area: 2/1/3/7;
}

#bottomMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--backgroundColor);
  font-family: "Inter";
}
#bottomMenu nav {
  width: 100%;
  padding: 0.5rem;
}
#bottomMenu nav ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 0;
  flex-wrap: wrap;
}
#bottomMenu nav ul .logo {
  display: none;
}
#bottomMenu nav ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
  transition: all 0.2s ease;
  padding: 0.5rem;
}
#bottomMenu nav ul li a.active, #bottomMenu nav ul li a:hover {
  color: var(--green);
}
#bottomMenu nav ul li a.subActive {
  color: var(--extraColor);
}
#bottomMenu nav ul .changeThemeContainer {
  display: none;
}

@media (min-width: 1001px) {
  body {
    grid-template-columns: repeat(16, 1fr);
    padding: 0 2%;
    gap: 0 2%;
  }
  header {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    position: fixed;
  }
  header #topHeader {
    flex-direction: row-reverse;
    gap: 1rem;
  }
  #bottomMenu {
    grid-area: 2/1/3/2;
    left: unset;
    width: unset;
    background: none;
  }
  #bottomMenu nav {
    height: 75vh;
    padding: 0;
  }
  #bottomMenu nav ul {
    height: 100%;
    flex-direction: column;
  }
  #bottomMenu nav ul .logo {
    display: block;
    background: linear-gradient(180deg, #00D76E 0%, #00D76E 0.01%, #1ABD00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: "Poppins";
    font-size: xx-large;
  }
  #bottomMenu nav ul li {
    position: relative;
  }
  #bottomMenu nav ul li a {
    padding: 1rem;
  }
  #bottomMenu nav ul li a.active::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    border-radius: 1rem;
    background-color: var(--green);
  }
  #bottomMenu nav ul .changeThemeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0;
    flex-wrap: nowrap;
    width: 100%;
  }
  #bottomMenu nav ul .changeThemeContainer .theme {
    box-shadow: 0 0 50px 5px var(--shadow);
    border-radius: 1rem;
    transition: all 0.3s ease;
    padding: 1rem;
    cursor: pointer;
  }
  #bottomMenu nav ul .changeThemeContainer .theme:hover {
    transform: scale(1.1);
  }
  #bottomMenu nav ul .changeThemeContainer .theme svg path {
    stroke: var(--color);
  }
  #bottomMenu nav ul .changeThemeContainer .theme.active svg path {
    stroke: var(--green);
  }
  #bottomMenu nav ul .changeThemeContainer .theme:not(.active) {
    box-shadow: inset 0 0 10px 15px var(--shadow);
    border-radius: 1rem;
  }
  main {
    grid-area: 1/5/3/12;
  }
}
:root {
  --backgroundColor: rgb(31, 31, 31);
  --color: #ffffff;
  --green: rgb(55, 166, 3);
  --shadow: rgba(0, 0, 0, 0.30);
  --smoothEdge: rgba(255, 255, 255, .6);
  --waveUserPhoto1: rgba(255, 255, 255, .550);
  --waveUserPhoto2: rgba(255, 255, 255, .350);
  --waveUserPhoto3: rgba(255, 255, 255, .150);
  --waveUserPhoto4: rgba(255, 255, 255, .050);
  --dangerColor: rgb(189, 8, 8);
  --successColor: rgb(64, 189, 6);
  --extraColor: #00F0FF;
}
:root h4, :root h5 {
  font-weight: 100;
}

:root.lightTheme {
  --backgroundColor: rgb(235, 231, 231);
  --color: rgb(0, 0, 0);
  --shadow: rgba(255, 255, 255, 0.702);
  --smoothEdge: rgba(0, 0, 0, .6);
  --waveUserPhoto1: rgba(0, 0, 0, .550);
  --waveUserPhoto2: rgba(0, 0, 0, .350);
  --waveUserPhoto3: rgba(0, 0, 0, .150);
  --waveUserPhoto4: rgba(0, 0, 0, .050);
}
:root.lightTheme h4, :root.lightTheme h5 {
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/imports/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter bold";
  src: url(../assets/imports/Inter/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter light";
  src: url(../assets/imports/Inter/static/Inter-Light.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/imports/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins bold";
  src: url(../assets/imports/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins light";
  src: url(../assets/imports/Poppins/Poppins-Light.ttf);
}
@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 270px;
  }
}
@keyframes skeletonLoading {
  from {
    background-image: linear-gradient(90deg, #999 15%, #ccc 85%);
  }
  to {
    background-image: linear-gradient(90deg, #999 100%, #ccc 0%);
  }
}
@keyframes transformeX {
  to {
    transform: translateX(0);
  }
}
@media (min-width: 1001px) {
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 690px;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 690px;
    }
  }
}
.userPhotoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  background-image: url(../assets/midia/defaultUserPhoto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.userPhotoContainer::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  transition: all 0.2s linear;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color);
}
.userPhotoContainer .circle {
  position: absolute;
  width: 110%;
  height: 110%;
  border-radius: 50%;
  border: 2px solid var(--color);
  z-index: -1;
}
.userPhotoContainer .circle:nth-child(1) {
  width: 160%;
  height: 160%;
  border: 2px solid var(--waveUserPhoto1);
}
.userPhotoContainer .circle:nth-child(2) {
  width: 220%;
  height: 220%;
  border: 2px solid var(--waveUserPhoto2);
}
.userPhotoContainer .circle:nth-child(3) {
  width: 280%;
  height: 280%;
  border: 2px solid var(--waveUserPhoto3);
}
.userPhotoContainer .circle:nth-child(4) {
  width: 340%;
  height: 340%;
  border: 2px solid var(--waveUserPhoto4);
}

:root {
  --backgroundColor: rgb(31, 31, 31);
  --color: #ffffff;
  --green: rgb(55, 166, 3);
  --shadow: rgba(0, 0, 0, 0.30);
  --smoothEdge: rgba(255, 255, 255, .6);
  --waveUserPhoto1: rgba(255, 255, 255, .550);
  --waveUserPhoto2: rgba(255, 255, 255, .350);
  --waveUserPhoto3: rgba(255, 255, 255, .150);
  --waveUserPhoto4: rgba(255, 255, 255, .050);
  --dangerColor: rgb(189, 8, 8);
  --successColor: rgb(64, 189, 6);
  --extraColor: #00F0FF;
}
:root h4, :root h5 {
  font-weight: 100;
}

:root.lightTheme {
  --backgroundColor: rgb(235, 231, 231);
  --color: rgb(0, 0, 0);
  --shadow: rgba(255, 255, 255, 0.702);
  --smoothEdge: rgba(0, 0, 0, .6);
  --waveUserPhoto1: rgba(0, 0, 0, .550);
  --waveUserPhoto2: rgba(0, 0, 0, .350);
  --waveUserPhoto3: rgba(0, 0, 0, .150);
  --waveUserPhoto4: rgba(0, 0, 0, .050);
}
:root.lightTheme h4, :root.lightTheme h5 {
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/imports/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter bold";
  src: url(../assets/imports/Inter/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter light";
  src: url(../assets/imports/Inter/static/Inter-Light.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/imports/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins bold";
  src: url(../assets/imports/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins light";
  src: url(../assets/imports/Poppins/Poppins-Light.ttf);
}
@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 270px;
  }
}
@keyframes skeletonLoading {
  from {
    background-image: linear-gradient(90deg, #999 15%, #ccc 85%);
  }
  to {
    background-image: linear-gradient(90deg, #999 100%, #ccc 0%);
  }
}
@keyframes transformeX {
  to {
    transform: translateX(0);
  }
}
@media (min-width: 1001px) {
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 690px;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 690px;
    }
  }
}
.title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.title h3 {
  font-family: "Poppins";
  font-weight: 100;
}
.title p {
  font-family: "Poppins light";
  margin-top: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
  font-family: "Poppins light";
}
.card .icon {
  box-shadow: 0 0 50px 5px var(--shadow);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  padding: 1rem;
}

@media (min-width: 1001px) {
  .card {
    cursor: pointer;
  }
  .card .icon {
    transition: all 0.3s ease;
  }
  .card:hover .icon {
    transform: scale(1.15);
  }
}
body {
  grid-template-columns: repeat(6, 1fr);
  padding: 0;
  gap: 0 5%;
}

header {
  padding: 2rem 10%;
}

main {
  width: 100%;
  min-height: 110vh;
  gap: 1.5rem;
}
main .gm-control-active gm-fullscreen {
  display: none;
}
main .mapouter {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main .mapouter .gmap_canvas {
  width: 100%;
  height: 100%;
}
main .mapouter .gmap_canvas iframe {
  width: 100%;
  height: 100%;
}
main .mapouter .gmap_canvas.skeleton {
  border-radius: 0;
}
main #filters {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  box-shadow: 0 0 50px 5px var(--shadow);
  border-radius: 0;
  position: absolute;
  right: unset;
  left: 0.5rem;
  top: unset;
  bottom: 5rem;
  background-color: var(--backgroundColor);
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  padding: 1.5rem 0.5rem;
  z-index: 100;
  cursor: pointer;
}
main #filters #toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 15px;
  border-radius: 1rem;
}

@media (min-width: 1001px) {
  body {
    grid-template-columns: repeat(16, 1fr);
    padding: 0 0 0 2%;
    gap: 0 2%;
  }
  header {
    padding: 2rem 0;
  }
  main {
    grid-area: 1/5/4/17;
    width: 100%;
    min-height: 100vh;
  }
  main #filters {
    top: unset;
    right: 4rem;
    bottom: 2rem;
    right: 0.5rem;
    left: unset;
    top: 5rem;
    bottom: unset;
  }
}
@media (min-width: 1300px) {
  main {
    grid-area: 1/4/4/17;
  }
}/*# sourceMappingURL=map.css.map */