:root {
  --backgroundColor: rgb(31, 31, 31);
  --color: #ffffff;
  --green: rgb(55, 166, 3);
  --shadow: rgba(0, 0, 0, 0.30);
  --smoothEdge: rgba(255, 255, 255, .6);
  --waveUserPhoto1: rgba(255, 255, 255, .550);
  --waveUserPhoto2: rgba(255, 255, 255, .350);
  --waveUserPhoto3: rgba(255, 255, 255, .150);
  --waveUserPhoto4: rgba(255, 255, 255, .050);
  --dangerColor: rgb(189, 8, 8);
  --successColor: rgb(64, 189, 6);
  --extraColor: #00F0FF;
}
:root h4, :root h5 {
  font-weight: 100;
}

:root.lightTheme {
  --backgroundColor: rgb(235, 231, 231);
  --color: rgb(0, 0, 0);
  --shadow: rgba(255, 255, 255, 0.702);
  --smoothEdge: rgba(0, 0, 0, .6);
  --waveUserPhoto1: rgba(0, 0, 0, .550);
  --waveUserPhoto2: rgba(0, 0, 0, .350);
  --waveUserPhoto3: rgba(0, 0, 0, .150);
  --waveUserPhoto4: rgba(0, 0, 0, .050);
}
:root.lightTheme h4, :root.lightTheme h5 {
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/imports/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter bold";
  src: url(../assets/imports/Inter/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter light";
  src: url(../assets/imports/Inter/static/Inter-Light.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/imports/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins bold";
  src: url(../assets/imports/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins light";
  src: url(../assets/imports/Poppins/Poppins-Light.ttf);
}
:root {
  --backgroundColor: rgb(31, 31, 31);
  --color: #ffffff;
  --green: rgb(55, 166, 3);
  --shadow: rgba(0, 0, 0, 0.30);
  --smoothEdge: rgba(255, 255, 255, .6);
  --waveUserPhoto1: rgba(255, 255, 255, .550);
  --waveUserPhoto2: rgba(255, 255, 255, .350);
  --waveUserPhoto3: rgba(255, 255, 255, .150);
  --waveUserPhoto4: rgba(255, 255, 255, .050);
  --dangerColor: rgb(189, 8, 8);
  --successColor: rgb(64, 189, 6);
  --extraColor: #00F0FF;
}
:root h4, :root h5 {
  font-weight: 100;
}

:root.lightTheme {
  --backgroundColor: rgb(235, 231, 231);
  --color: rgb(0, 0, 0);
  --shadow: rgba(255, 255, 255, 0.702);
  --smoothEdge: rgba(0, 0, 0, .6);
  --waveUserPhoto1: rgba(0, 0, 0, .550);
  --waveUserPhoto2: rgba(0, 0, 0, .350);
  --waveUserPhoto3: rgba(0, 0, 0, .150);
  --waveUserPhoto4: rgba(0, 0, 0, .050);
}
:root.lightTheme h4, :root.lightTheme h5 {
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/imports/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter bold";
  src: url(../assets/imports/Inter/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter light";
  src: url(../assets/imports/Inter/static/Inter-Light.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/imports/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins bold";
  src: url(../assets/imports/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins light";
  src: url(../assets/imports/Poppins/Poppins-Light.ttf);
}
* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--color);
  background-color: var(--backgroundColor);
}
body main {
  font-family: "Inter";
}
body h1 {
  text-align: center;
  font-family: "Poppins";
  font-size: 1.2rem;
  margin-bottom: 20px;
}
body h2 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}
body #post-container {
  background-color: var(--backgroundColor);
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;
}
body #post-container .post {
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
body #post-container .post-content {
  font-size: 0.8rem;
  text-align: justify;
  width: 100%;
  font-weight: normal;
}
body #titleMateriais {
  margin-top: 20px;
}
body #card-materiais .content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  margin-top: 15px;
}
body #card-materiais .card {
  background-color: black;
  border-radius: 20px;
  box-shadow: 0 2px 23px black;
  width: 16rem;
  margin-bottom: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body #card-materiais .card.reciclaveis {
  background-image: url("../assets/midia/reciclaveis.jpg");
}
body #card-materiais .card.entulho {
  background-image: url("../assets/midia/entulho.jpg");
}
body #card-materiais .card.moveis {
  background-image: url("../assets/midia/movelVelho.jpg");
}
body #card-materiais .card.pneu {
  background-image: url("../assets/midia/pneu.jpg");
}
body #card-materiais .mediaCard {
  height: 250px;
  width: 100%;
}
body #card-materiais .title {
  margin: 10px 0 0 0;
  color: white;
}
body #card-materiais .topCard {
  padding: 20px;
  padding-top: 0px;
}
body #card-materiais .bottomCard {
  padding: 20px;
}

@media (min-width: 768px) {
  body h1 {
    text-align: center;
    font-family: "Poppins";
    font-size: 1.5rem;
  }
  body h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  body #post-container {
    background-color: var(--backgroundColor);
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
  }
  body #post-container .post {
    margin-bottom: 50px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  body #post-container .post-content {
    font-size: 1rem;
    text-align: justify;
    width: 100%;
    font-weight: normal;
  }
}
@media (min-width: 1100px) {
  #card-materiais {
    display: flex;
  }
  .post {
    background-color: var(--backgroundColor);
    width: 50%;
    height: 100%;
    margin: 0 auto 0 auto;
  }
}/*# sourceMappingURL=infos.css.map */